header {
    display: block;
    padding-block: 3%;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: #B7D5D4;
    background-color: #373E40;
    }


    .logo {
        position: absolute;
        width: 14%;
        height: 25.4%;
        margin-top: 0%;
        margin-left: 0%;
    }  

    #divBusca {
        margin-top: 20px;
        margin-right: 10px;
        float: right;
        background-color:#EFEFEF;
      border: none;
      border-radius: 15px;
      width:300px;
      }
      
      #txtBusca{
      background-color:transparent;
      padding-left:10px;
      font-size:18px;
      border:none;
      border-radius:15px;
      height:30px;
      width:260px;
      }
      
      #btnBusca {
        float: right;
        width: 6%;
        margin-top: 6px;
        margin-right: 6px;
      }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #488286;
        }
    
    li {
        float: right;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #B7D5D4;
    }
    
    li.dropdown{
        display: inline-block;
    }
    
    .dropdown-child {
        display: none;
        position: absolute;
        background-color: yellow;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    #feminino, #masculino, #outros {
        margin: 0;
    }
     fieldset {
        border-color: #305252;
        margin: 0;
     }
    
    body {
        font-family: 'Maven Pro', sans-serif;
        margin: 0; 
       background-color: #ffffff;
        padding: 0;
        }
        
        form { 
            max-width: 400px; 
            margin: 50px auto; 
            padding: 20px; 
            background-color:#77878B; 
            border-radius: 8px; 
            box-shadow: 0 0 15px grey
        }
        
        p {
        margin-top: 10px;
        margin-bottom: 5px;
        }
        
        .one {
        padding: 10px;
        color: #ffffff;
        margin-bottom: 15px;
        width: 100%; 
        border-radius: 4px; 
        background-color:#373E40;
        box-sizing: border-box; 
        border: 2px solid #305252;
        }
    
        .two {
            padding: 10px 30px 30px 10px;
            color: #ffffff;
            margin-bottom: 15px;
            width: 100%; 
            border-radius: 4px; 
            background-color: #373E40;
            box-sizing: border-box; 
            border: 2px solid #305252;
            }
        
        .one [type="submit"] {
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        }
    
        button {
            font-family: 'Maven Pro', sans-serif;
            color: #B7D5D4;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 5% 10% 5% 10%;
            border-radius: 4px;
            background-color: #373E40;
    box-sizing: border-box;
    border: 2px solid #305252;
        }
       
        .three a:link {
            color: #B7D5D4;
         }
    
         .three a:visited {
            color: #B7D5D4;
         }
    
         .three a:hover {
            color: #B7D5D4;
         }
         
        .three a:active {
                color: #B7D5D4;
        }
    
        li a:hover{
            background-color: #B7D5D4;
                }
        
        footer {
            font-family: 'Maven Pro', sans-serif;
            color: #373E40;
            padding: 5px;
            background-color: #B7D5D4;
            text-align: center;
        }

        input [type="radio"] {
           background-color: #B7D5D4;
            color: #B7D5D4;
            cursor: pointer;
            }

            .fa {
                margin-top: 10px;
                padding: 20px;
                font-size: 40px;
                width: 20px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
              }
              
              .fa:hover {
                opacity: 0.7;
              }
              
              .fa-facebook {
                background: #488286;
                color: white;
              }
              
              .fa-twitter {
                background: #488286;
                color: white;
              }

              .fa-instagram {
                background: #488286;
                color: white;
              }